.singular0{
    background-color: rgb(3, 3, 59);
    border-radius: 20px;
    padding: 10px;
    color: cyan;
}
.singular0:hover{
    background-color: rgb(151, 151, 240);
    color: black;
}