/* Estilo para el fondo */
body {
    background-color: #faecd3; /* Fondo gris claro */
}


/* Estilo adicional para h2 en la página de servicios */
h2 {
    color: purple;
}
.singular{
    background-color: rgb(3, 3, 59);
    border-radius: 20px;
    padding: 10px;
    color: cyan;
}
.singular:hover{
    background-color: rgb(151, 151, 240);
    color: black;
}